<ion-view title="Sobre">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
     
    <div class="text-center">
        <img alt="" src="img/appicon.png" class="img-round"/>
    </div>
      
    <h2 class="text-center">Obrigado!</h2>
      
    <p class="padding" style="text-align: justify">
        Vocês são demais! Espero que estejam gostando do aplicativo,
        aqui estão os contatos dos desenvolvedores responsáveis pelo
        projeto: <b>Marina Limeira</b> (marinaflessa@gmail.com) e <b>Hotaviano Melo</b> (melo.hotaviano@gmail.com).
    </p>
  </ion-content>
</ion-view>
