<ion-view title="Sobre">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
     
    <div class="text-center">
        <img alt="" ng-src="{{item.picture ? item.picture : 'img/sem-photo.gif'}}" class="img-round"/>
    </div>
      
    <h2 class="text-center">Obrigado!</h2>
      
    <p class="padding" style="text-align: justify">
        Vocês são demais! Espero que tenham gostado do aplicativo,
        aqui estão os contatos dos desenvolvedores responsáveis pelo
        projeto: Marina Limeira (marinaflessa@gmail.com) e Hotaviano Melo (melo.hotaviano@gmail.com).
        Aproveitem o evento.
    </p>
  </ion-content>
</ion-view>
