<ion-view title="Evento">
  <ion-content class="has-header">
    <h2 class="padding text-center"><img alt="" ng-src="{{item.eventId == 1 ? 'img/focult-logo.png' : 'img/flijupin-logo.jpg'}}" class="imagem-descricao"/></h2>
    <div class="padding-horizontal">
        {{item | since}} - {{item.startTime}} - {{item.endTime}} <span ng-if="item.place">/</span> <b>{{item.place}}</b> <small>({{item.availability}})</small>
    </div>
      
    <h3 class="padding-horizontal">{{item.title}}</h3>
      
    <h4 class="padding-horizontal">
        <span ng-if="!item.bio">{{item.speaker}}</span>
        <a ng-if="item.bio" href="#/app/bio/{{item.id}}">{{item.speaker}}</a>
    </h4>
      
    <p class="padding" style="text-align: justify">
        {{item.description}}
    </p>
  </ion-content>
</ion-view>
