<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.hotaviano.culteventos" 
        version="0.0.1" 
        xmlns="http://www.w3.org/ns/widgets" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>CultEventos</name>
  <description>
        An Projects' Marina and Hotaviano
    </description>
  <author email="melo.hotaviano@gmail.com" href="http://hotaviano.com/">
      Marina and Hotaviano Development Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
    
  <preference name="SplashScreen" value="screen" />
  <preference name="SplashScreenDelay" value="3000" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
    
 <platform name="android">
    <icon src="res/icon/drawable-ldpi/appicon.png" density="ldpi" />
     <icon src="res/icon/drawable-mdpi/appicon.png" density="mdpi" />
     <icon src="res/icon/drawable-hdpi/appicon.png" density="hdpi" />
     <icon src="res/icon/drawable-xhdpi/appicon.png" density="xhdpi" />
     <icon src="res/icon/drawable-xxhdpi/appicon.png" density="xxhdpi" />
 </platform>    
    
 <splash platform="android"  qualifier="port-ldpi" src="res/screen/android/res-long-port-ldpi/default.png" />
 <splash platform="android"  qualifier="port-mdpi" src="res/screen/android/res-long-port-mdpi/default.png" />
 <splash platform="android"  qualifier="port-hdpi" src="res/screen/android/res-long-port-hdpi/default.png" />
 <splash platform="android"  qualifier="port-xhdpi" src="res/screen/android/res-long-port-xhdpi/default.png" />
 <splash platform="android"  qualifier="port-xxhdpi" src="res/screen/android/res-long-port-xxhdpi/default.png" />
 <splash platform="android"  qualifier="port-xxxhdpi" src="res/screen/android/res-long-port-xxxhdpi/default.png" />

</widget>